<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kitadigi.poskita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.reportoffline.analisa.ROAnalisaActivity"></activity>
        <activity android:name=".activities.reportoffline.terlaris.ROTerlarisActivity" />
        <activity android:name=".activities.reportoffline.kartustok.ROKartuStokActivity" />
        <activity android:name=".activities.reportoffline.kartustok.PilihBarangActivity" />
        <activity android:name=".activities.reportoffline.revenue.RORevenueActivity" />
        <activity android:name=".activities.reportoffline.grafik.harian.GrafikJualHarianActivity" />
        <activity android:name=".activities.reportoffline.detailbeli.ROHistoriBeliDetailActivity" />
        <activity android:name=".activities.reportoffline.detailjual.ROJualDetailActivity" />
        <activity android:name=".activities.reportoffline.beli.ROBeliActivity" />
        <activity android:name=".activities.reportoffline.jual.ROJualActivity" />
        <activity android:name=".sinkron.kategori.SyncKategoriActivity" />
        <activity android:name=".activities.printer.PrintingActivity" />
        <activity android:name=".activities.pos.PrintPreviewActivity" />
        <activity android:name=".printer.ScanActivity" />
        <activity android:name=".offline.KategoriActivity" />
        <activity android:name=".printer.PairedBTActivity" />
        <activity android:name=".printer.PrinterActivity" />
        <activity android:name=".activities.report.analisa.ReportAnalisaTabActivity" />
        <activity android:name=".activities.report.stokdetail.ReportStokDetailActivity" />
        <activity android:name=".activities.report.stok.ReportStokActivity" />
        <activity android:name=".activities.report.revenue.ReportRevenueActivity" />
        <activity android:name=".activities.report.analisa.ReportAnalisaActivity" />
        <activity android:name=".activities.report.pembeliandetail.ReportPembelianDetailActivity" />
        <activity android:name=".activities.report.pembelian.ReportPembelianActivity" />
        <activity android:name=".activities.report.transactiondetail.ReportTransactionDetailActivity" />
        <activity android:name=".activities.report.transaction.ReportTransactionActivity" />
        <activity android:name=".activities.pembelian.PembelianBerhasilActivity" />
        <activity android:name=".activities.pembelian.KonfirmasiPembelianActivity" />
        <activity android:name=".activities.pembelian.SubPembelianActivity" />
        <activity android:name=".activities.pos.MetodePembayaranActivity" />
        <activity android:name=".activities.pos.SubTransaksiActivity" />
        <activity android:name=".fragment.addunit.AddUnitActivity" />
        <activity android:name=".fragment.addbrand.AddBrandActivity" />
        <activity android:name=".fragment.addkategori.AddKategoriActivity" />
        <activity android:name=".activities.coba.CobaActivity" />
        <activity
            android:name=".printer.DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".printer.NyobaActivity" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemsDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ItemsAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ItemsTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsTransactionsWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsPaymentMethodWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsPaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemsPaymentResultWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EntryPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReportDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".util.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>