<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kitadigi.poskita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.kitadigi.poskita.sinkron.kategori.SyncKategoriActivity"></activity>
        <activity android:name="com.kitadigi.poskita.activities.printer.PrintingActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pos.PrintPreviewActivity" />
        <activity android:name="com.kitadigi.poskita.printer.ScanActivity" />
        <activity android:name="com.kitadigi.poskita.offline.KategoriActivity" />
        <activity android:name="com.kitadigi.poskita.printer.PairedBTActivity" />
        <activity android:name="com.kitadigi.poskita.printer.PrinterActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.analisa.ReportAnalisaTabActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.stokdetail.ReportStokDetailActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.stok.ReportStokActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.revenue.ReportRevenueActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.analisa.ReportAnalisaActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.pembeliandetail.ReportPembelianDetailActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.pembelian.ReportPembelianActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.transactiondetail.ReportTransactionDetailActivity" />
        <activity android:name="com.kitadigi.poskita.activities.report.transaction.ReportTransactionActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pembelian.PembelianBerhasilActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pembelian.KonfirmasiPembelianActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pembelian.SubPembelianActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pos.MetodePembayaranActivity" />
        <activity android:name="com.kitadigi.poskita.activities.pos.SubTransaksiActivity" />
        <activity android:name="com.kitadigi.poskita.fragment.addunit.AddUnitActivity" />
        <activity android:name="com.kitadigi.poskita.fragment.addbrand.AddBrandActivity" />
        <activity android:name="com.kitadigi.poskita.fragment.addkategori.AddKategoriActivity" />
        <activity android:name="com.kitadigi.poskita.activities.coba.CobaActivity" />
        <activity
            android:name="com.kitadigi.poskita.printer.DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.kitadigi.poskita.printer.NyobaActivity" />
        <activity
            android:name="com.kitadigi.poskita.activities.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kitadigi.poskita.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kitadigi.poskita.ItemsDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kitadigi.poskita.ItemsAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kitadigi.poskita.ItemsTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsTransactionsWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsPaymentMethodWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsPaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ItemsPaymentResultWholeSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.EntryPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.ReportDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kitadigi.poskita.util.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>